*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


// font-size
$font-size-xxs: 0.5rem;
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.25rem;
$font-size-xxl: 1.875rem; //color
$blue: #3574ac;
$light-blue: #6b96bc;
$dark-blue: #2a5b88;
$gray: #CCCCCC;
@import "media-queries"; // メディアクエリ
$breakpoint-md: 960px;
@mixin sp-only {
    @media (max-width: ($breakpoint-md)) {
        @content;
    }
}

//font-size

.text-xxs {
    font-size: $font-size-xxs;
}

.text-xs {
    font-size: $font-size-xs;
}

.text-sm {
    font-size: $font-size-sm;
}

.text-md {
    font-size: $font-size-md;
}

.text-lg {
    font-size: $font-size-lg;
}

.text-xl {
    font-size: $font-size-xl;
}

.text-xxl {
    font-size: $font-size-xxl;
}

// main-visual

.main-visual__image{
	width: 280px;
	height: 600px;
	object-fit: cover;
}

.main-visual__logo{
	@include respond-below(md) {
		left: 60%;
		position: absolute;
		top:  100px;
	}
}

.main-visual__text{
	@include respond-below(md) {
		font-size: 30px;
		font-weight: 600;
		position: absolute;
		text-align: right;
		right: -20%;
		top: 60%;
	}
}

.zan-logo{
	width: 150px;
	height: 150px;
}

/* member-image */

.member-image{
	height: 40rem;
	@include respond-below(md) {
		height: 15rem;
	}
}

.ruby {
	margin: 0 auto;
	position: relative;
	width: 40rem;
	background-image: url(logo.png);
	border-left: 4rem solid transparent;
	border-right: 4rem solid transparent;
	border-bottom: 100px solid gray;
	@include respond-below(md) {
		margin: 0 auto;
		position: relative;
		width: 16rem;
		border-left: 4rem solid transparent;
		border-right: 4rem solid transparent;
		border-bottom: 50px solid gray;
	}
}
.ruby:before {
	position: absolute;
	bottom: -600px;
	left: -4rem;
	width: 0;
	height: 300;
	content: "";
	border-left: 20rem solid transparent;
	border-right: 20rem solid transparent;
	border-top: 31.3rem solid gray;
		@include respond-below(md) {
		position: absolute;
		bottom: -13.1rem;
		left: -4rem;
		width: 0;
		content: "";
		border-left: 8rem solid transparent;
		border-right: 8rem solid transparent;
		border-top: 10rem solid gray;
		}
}

// about

.about-image{
	@include respond-below(md) {
		height: 25rem;
	}
}

.about-card{
	@include respond-below(md) {
		position: absolute;
		width: 90%;
		top: 55%;
		left: 30%;
	}
}


// member-image

.member-image__tsuka{
	@include respond-below(md) {
		clip-path: polygon(50% 100%, 100% 20%, 85% 0, 15% 0, 0 20%);
		width: 100%;
		height: 100%;
	}
}

// our-activities

.activities-icon{
	@include respond-below(md) {
		width: 100%;
		height: 30%;
	}
}